{% extends "base.html" %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <br>
    <table class="table table-hover">
        <tr>
            <td>
                <span>ID</span>
            </td>
            <td>
                <span>Author</span>
            </td>
            <td>
                <span>Content</span>
            </td>
            <td>
                <span>Time</span>
            </td>
        </tr>
        {% for post in posts %}
            <tr id="{{ post.id }}">
                <td>
                    <span >{{ post.id }}</span>
                </td>
                <td>
                    <span >{{ post.author.username }}</span>
                </td>
                <td>
                    <span >{{ post.body }}</span>
                </td>
                <td>
                    <span >{{ post.timestamp }}</span>
                </td>
            </tr>
        {% endfor %}
    </table>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
